TD
{
        font-family: Tahoma;
		font-size: 14px;
		font-style: normal;
		color: #5b5b5e;
		line-height: 1.2em;
}

H1
{
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    color: #0c4169;
	line-height: 0pt;
	display:inline
}


.slogan {
  text-align: center;  
}

#add-to-waitlist {
  display:block;        
  background-color: #3bd8ff;// #ff7f03;
  color: white;
  width: 10em;
  margin-left: -0.1em;
  text-decoration:none;
  font-size:1.4em;
  line-height: 1em;
  height: 1em;
}

.button {
margin: 0.5em;
padding: 0.5em 1em;        
//min-height:30px;
//text-shadow: 0.1em 0.01em 1em black;
border-radius: 0.2em;
}

.well {
  margin-left: 2em;  
  margin-right: 2em;
}

a:hover {
  color: white;  
}

h2 {
  margin-left: 1em;  
}

p {
  margin-left: 2em;  
}

.green
{
        font-family: Tahoma;
		font-size: 19px;
		font-style: normal;
		color: #536424;
		line-height: 1.3em;
}

.headergrey
{
        font-family: Tahoma;
		font-size: 19px;
		font-style: normal;
		color: #4f4f52;
		line-height: 1.3em;
}

.signin
{
        font-family: Tahoma;
		font-size: 12px;
		font-style: normal;
		color: #434344;
		line-height: 1.2em;
}

.headerorange
{
        font-family: Tahoma;
		font-size: 18px;
		font-style: normal;
		color: #bf5e0b;
		line-height: 1.3em;
}

.orange
{
        font-family: Tahoma;
		font-size: 14px;
		font-style: normal;
		color: #bf5e0b;
		line-height: 1.2em;
}

.white
{
        font-family: Tahoma;
		font-size: 14px;
		font-weight: bold;
		color: #ffffff;
		line-height: 1.2em;
}

.smwhite
{
        font-family: Tahoma;
		font-size: 11px;
		font-weight: normal;
		color: #ffffff;
}

a.nav:link  {color: #753c0c; text-decoration: none; font-family: Tahoma; font-size: 18px; }
a.nav:visited {color: #753c0c; text-decoration: none; font-family: Tahoma; font-size: 18px; }
a.nav:hover {color: #c96e21; text-decoration: none;  font-family: Tahoma; font-size: 18px; }
a.nav:active {color: #753c0c; font-family: Tahoma; font-size: 18px; } 

a.cancel:link  {color: #a0a0a0; text-decoration: none; font-family: Tahoma; font-size: 12px; }
a.cancel:visited {color: #a0a0a0; text-decoration: none; font-family: Tahoma; font-size: 12px; }
a.cancel:hover {color: #737374; text-decoration: none;  font-family: Tahoma; font-size: 12px; }
a.cancel:active {color: #a0a0a0; font-family: Tahoma; font-size: 12px; } 

A:link
	{
		text-decoration: underline;
		color:#e1812f;
		font-size: 12px;
		font-family: Tahoma, Arial, Helvetica, sans-serif
	}

A:visited
	{
		text-decoration: underline;
		color:#e1812f;
		font-size: 12px;
		font-family: Tahoma, Arial, Helvetica, sans-serif
	}

A:active
	{
		text-decoration: underline;
		color:#e1812f;
		font-size: 12px;
		font-family: Tahoma, Arial, Helvetica, sans-serif
}

A:hover
	{
		text-decoration: underline;
		color:#964d0f;
		font-size: 12px;
		font-family: Tahoma, Arial, Helvetica, sans-serif
	}
