a.folder-header:hover {
  text-decoration: none;
  text-underline: 
}

.message-list-container {
  max-width: 24em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.1em;
}

.message-list-container #search-field {
  display: inline-block;
  margin: 0;
  border: 1px solid #CCC;
  border-radius: 1em;
  width: 75%
}

#messages-search-btn {
  display: inline-block;
  float: right;
  padding: 3px 8px 3px 8px;
}

.icon-search {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  text-align: center;
  background-position:-48px 0px;
  background-image: url("../images/glyphicons.png");
}

table.message-list {
  margin: 0;
  //border: 1px solid black;
  width: 100%;
}

.message {
  display: block;
  border-bottom: 1px solid black;
  width: 100%;
  margin: 0;
}

.message p {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.message label.message-checkbox-label {
  margin: 0;
  width: 30px;
  height: 50px;
  /* Firefox */
  display:-moz-box;
  -moz-box-orient:horizontal;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari and Chrome */
  display:-webkit-box;
  -webkit-box-orient:horizontal;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-orient:horizontal;
  box-pack:center;
  box-align:center;
}

.message p.from {
  font-size: 1.2em;
  font-weight: bold;
  float: left;
}

.message p.date {
  margin-top: 4px;
  float: right;
}

.message p.subject {
  clear: both;
}

.message p.content {
  color: gray;
}
