h2.folder-header-wrapper {
  margin: 0;
}

a.folder-header {
  color: #4444FF
}

a.folder-header:hover {
  text-decoration: none;
  cursor: pointer;
  text-underline:
  color: #0000FF;
}

.message-list-container {
  width: 25em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.1em;
}

.message-list-container .search-bar-container {
  position: relative;
}

.message-list-container #search-field {
  display: block;
  padding-left: 2em;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 1em;
  width: 20em;
}

.message-list-container .icon-search {
  position: absolute;
  left: 2em;
  top: 0.6em;
  
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  text-align: center;
  background-position:-48px 0px;
  background-image: url("../images/glyphicons.png");
}

table.message-list {
  margin: 0;
  margin: 4px auto 2em auto;
  border-top: 1px solid black;
  width: 25em;
  background-color: white;
}

.message {
  display: block;
  border-bottom: 1px solid black;
  width: 100%;
  min-width: 24em;
  height: 60px;
  margin: 0;
  padding: 0;
}

.message.unread {
  background-color: #EEEEFF;
}

.message .check-box-cell {
  width: auto;
  height: auto;
  padding: 0;
}

.message .message-check-box {
  width: 16px;
  height: 16px;
  background-color: white;
  border: 2px solid black;
  margin: 19px 12px 19px 12px;
}

.message .message-check-box:hover {
  cursor: pointer;
}

.message .message-check-box.selected {
  background-position: -287px 0px;
  background-image: url("../images/glyphicons.png");
}

.message label.message-checkbox-label {
  margin: 0;
  width: 45px;
  height: 50px;
  /* Firefox */
  display:-moz-box;
  -moz-box-orient:horizontal;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari and Chrome */
  display:-webkit-box;
  -webkit-box-orient:horizontal;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-orient:horizontal;
  box-pack:center;
  box-align:center;
}

a.message-link {
  color: black;
  text-decoration: none;
}

.message p {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.message p.from {
  font-size: 1.2em;
  font-weight: bold;
  float: left;
}

.message p.date {
  margin-top: 4px;
  float: right;
}

.message p.subject {
  clear: both;
}

.message p.content {
  color: gray;
}

.folder-list-container {
  display: none;
  width: 25em;
  margin-left: auto;
  margin-right: auto;
}

.show {
  display: block;
}
